{% extends "base.html"%}


{% block content %}
{{ super() }}
    <div class="post">
        <div class="nickname"><a href="{{ url_for('resident_blueprint.resident', resident_id=resident_id) }}">Вернуться к жителю</a></div>
    <div class="nickname">Редактирование жителя</div>

        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flMsg {{cat}}">{{msg}}</div>
        {% endfor %}

        <form action="" method="post">

            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'submit'] %}
            <p class="linename">{{ field.label() }}</p>
            {% if field.errors %}
                {{ field(class="invalid") }}
            <p class="invalid-feedback">
                {% for e in field.errors %}
                {{ e }}
                {% endfor %}
            </p>
            {% else %}
            {{ field() }}
            {% endif %}
            {% endfor %}
        <p>{{ form.submit() }} </p>

        </form>

    </div>
    <div class="sign-wrap-3">
        <span class="sign_word">***</span>
    </div>
{% endblock %}